/// Standard
button {
  margin: 0; // 2
  overflow: visible; // 3
  font-family: inherit; // 1
  text-transform: none; // 1
}

// Correct the inability to style clickable types in iOS and Safari
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

// Remove the inner border and padding in Firefox
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  padding: 0;
  border-style: none;
}


// Override

button,
.button,
input[type="submit"],
input[type="button"],
input[type="reset"],
[role="button"] {
  --button-border-radius: 5rem;
  --button-bg: var(--link);
  --button-bg-hover: var(--link-hover);
  --button-text: var(--link-inverse);
  // --b-bg: var(--button-bg);
  // --b-t: var(--button-text);

  font-family: var(--ff-secondary);

  padding: var(--size-3) var(--size-7);
  color: var(--button-text);
  font-weight: var(--fw-8);
  background: var(--button-bg);
  border: 1px solid var(--button-bg);
  border-radius: var(--button-border-radius);
  text-decoration: none;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  transition: background-color var(--transition),
      border-color var(--transition), color var(--transition);

  width: 100%;

  @media (min-width: map-get($breakpoints, "md")) {
    width: unset;
  }
  
  &:hover,
  &:active,
  &:focus {
    background: var(--button-bg-hover);
    text-decoration: none;
  }

  &.outline {
    --button-bg: var(--link-inverse);
    background: transparent;
  }

  &.has-icon {
    padding-left: calc(var(--size-7) + 2rem);
    position: relative;

    svg {
      position: absolute;
      left: calc(var(--size-7) + 0.25rem);
      top: 50%;
      transform: translate(-0.25rem, -50%);
      width: 1.25em;
      height: 1.25em;
      color: inherit;
      transition: transform var(--transition);
    }

    &:hover,
    &:focus,
    &:focus-within {
      svg {
        transform: translate(0, -50%);
      } 
    }
  }

  &.is-dark {
    --button-bg: #222;
    --button-text: var(--clr-primary);
    border: 1px solid var(--clr-primary);

    &:hover {
      color: var(--clr-light);
    }
  }
}